nav {
  background-color: #120e86;
  width: 100%;
  color: #ffffff;
  color: #ffffff;
  // Below for sticky navbar
  position: sticky;
  top: 0;
  z-index: 100;
  font: 20px Arial, sans-serif;
}

#top-navbar a.active {
  color: #ffc107;
  text-decoration: underline;
}

a {
  color: #ffffff;
}

.logo {
  margin: 0 10px;
}
.nav-link {
  padding: 15px 30px;
  min-width: 40px;
  text-align: center;
}
